# -------------------------
# Python bytecode
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------------
# Virtual environments
# -------------------------
.env/
.venv/
venv/
ENV/
env/

# -------------------------
# Environment variables
# -------------------------
.env
.env.*

# -------------------------
# FastAPI / Uvicorn
# -------------------------
uvicorn.log