.cardContainer {
    width: 300px;
    min-width: 250px;
    height: 200px;
    background-color: white;
    position: relative;
    border-radius: 0.5em;
}

.upperSection {
    width: 100%;
    height: 60%;
    background-color: var(--dark);
    padding-left: 0.5em;
    padding-top: 0.5em;
    border-radius: 0.5em;
}

.upperSection h2, .upperSection h4 {
    color: white;

}

.upperSection h2 {
    font-weight: 600;
}

.upperSection h4 {
    font-weight: 500;
}

.cardContainer button {
    margin-left: 0.5em;
    position: absolute;
    bottom: 1em;
    background-color: var(--light);
    border: none;
    padding: 0.25em 0.5em;
    border-radius: 0.5em;
    font-weight: 600;
    color: var(--dark);
    transition: 0.2s ease-in-out;
}

.cardContainer button:hover {
    cursor: pointer;
    background-color: var(--dark);
    color: var(--light);
}